<div class="container-fluid" id="timeBombFond">

    <img src="/assets/logo.png" id="logo">
    <img src="/assets/dynamite.png" id="dynamite">
    <img src="/assets/explosion.png" id="explosion">


	<div class="row">
		<div class="col-2"></div>
	
		<div class="col-3" id="inscriptionTitre">Inscription</div>
		
	</div>
	<br><br><br><br><br><br><br><br><br><br>

<div class="row">
    <div class="col-2"></div>
	<div class="input-group col-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1" >Username</span>
		</div>
		<input [(ngModel)] = "user.username" class = "form-control" type ="text" placeholder = "username" required/>
	</div>
</div>
<br>

<div class="row">
    <div class="col-2"></div>
	<div class="input-group col-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1" >Name</span>
		</div>
		<input [(ngModel)] = "user.name" class = "form-control" type ="text" placeholder = "name" required/>
	</div>
</div>
     <br>   
<div class="row">
    <div class="col-2"></div>
	<div class="input-group col-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1" >Password</span>
		</div>
		<input [(ngModel)] = "user.password" class = "form-control" type ="text" placeholder = "password" required/>
	</div>
</div>
        
    <br>

    <div class="row">
		<div class="col-3"></div>

		<button (click)="subscribe()" class="btn btn-danger col-1 center-block">S'inscrire</button>
	
    </div>
    
</div>
