<button>Créer une nouvelle partie</button>

<br/>
<br/>
<br/>



<p>Voici la liste des tables que vous pouvez rejoindre</p>


<table>
    <thead>
      <tr>
        <th>Nom de la partie</th>
        <th>Nombre de joueurs</th>
        <th>Etat de la partie</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let match of srvMatch.matches">
        <td>{{match.name}}</td>
        <td>{{match.size}}</td>
        <td>{{match.state}}</td>
        <td>
            <button (click)="rejoindreMatch()">Rejoindre</button>
        </td>
      </tr>
    </tbody>
  
  
</table>

