<div class="container-fluid" id="timeBombFond">

    <img src="/assets/logo.png" id="logo">
    <img src="/assets/dynamite.png" id="dynamite">
    <img src="/assets/explosion.png" id="explosion">
    


<div class="row">
    <div class="col-2"></div>

    <div class="col-3" id="connexionTitre">Connexion</div>
    
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>

<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="input-group col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" >Login</span>
            </div>
            <input [(ngModel)] = "user.username" class = "form-control" type ="text" placeholder = "login"/>
        </div>
    </div>
    <br>
    <div class="row">
        
        <div class="col-2"></div>
        <div class="input-group  col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input [(ngModel)] = "user.password" class = "form-control" type ="password" placeholder = "password"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <button class = "btn btn-warning" (click)="seConnecter()"> Connexion </button>
        
        <button class = "btn btn-danger" (click)="inscription()"> S'inscrire </button>
    </div>
</div>
</div>